<section class="about-banner">
    <div class="container">
        <div class="row">
            <div class="">
                <div class="fakeimg child">
                    <img src="../../../../assets/images/myimages/Rectangle 22.png" class="img-fluid">
                    <div class="centeredtxt">Our Feature</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 
<div class="counter" #counterElement>100</div> -->


<section class="about-features">
    <div class="features-parent22">
        <div class="container">
            <div class="faeture-heading">
                <h5>OUR FEATURES</h5>
                <h1 class="headeingtext">We Serve The Best Service</h1>

            </div>
            <div class="abou-saving-parent">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card border our">
                            <div class="card-body p-5">
                                <img src="../../../../assets/images/myimages/1 (2).png" alt="">
                                <h6 class="card-subtitle  text-body-secondary">Monthly Payout</h6>
                                <p>Receive your monthly profit in your bank account</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border our">
                            <div class="card-body p-5">
                                <img src="../../../../assets/images/myimages/2.png" alt="">
                                <h6 class="card-subtitle  text-body-secondary">Guaranteed Returns</h6>
                                <p>Receive your monthly profit in your bank account</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border our">
                            <div class="card-body p-5">
                                <img src="../../../../assets/images/myimages/3.png" alt="">
                                <h6 class="card-subtitle  text-body-secondary">Completely Transparent Process</h6>
                                <p>Receive your monthly profit in your bank account</p>
                            </div>
                        </div>
                    </div>
                </div><br><br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card border our">
                            <div class="card-body p-5">
                                <img src="../../../../assets/images/myimages/4.png" alt="">
                                <h6 class="card-subtitle  text-body-secondary">profit calculator</h6>
                                <p>Receive your monthly profit in your bank account</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border our">
                            <div class="card-body p-5">
                                <img src="../../../../assets/images/myimages/6.png" alt="">
                                <h6 class="card-subtitle  text-body-secondary">auto-Withdraw</h6>
                                <p>Receive your monthly profit in your bank account</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border our">
                            <div class="card-body p-5">
                                <img src="../../../../assets/images/myimages/5.png" alt="">
                                <h6 class="card-subtitle  text-body-secondary">3-step Ezee kYC </h6>
                                <p>Receive your monthly profit in your bank account</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="features">
    <div class="features-parent">
        <div class="container">
            <div class="about-saving-parent1 text-center">
                <div class="row featuretxt">
                    <div class="col-md-3 ">
                        <h5 class="counter" #counterElement>100 K</h5>
                        <p>Happy Clients</p>
                    </div>
                    <div class="col-md-3  column">
                        <h5 class="counter" #counterElement>150 K+</h5>
                        <p>Project Completes</p>
                    </div>
                    <div class="col-md-3  column">
                        <h5  class="counter" #counterElement>005+</h5>
                        <p>Years Experience</p>
                    </div>
                    <div class="col-md-3  column">
                        <h5 class="counter"  #counterElement>175 K+</h5>
                        <p>Team Members</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-case">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-sm-12">
                <div class="ban_text">
                    <div class="banner-ctn">
                        <h5>OUR SPECIALITY</h5>
                        <h1 class="headeingtext">
                            We Are The Trusted <br>Scientist Experts
                        </h1>
                        <p class="abouttext">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. 
                        </p>
                    </div>

                    <div class="download-btn2">
                        <button><a href="https://play.google.com/store/apps/details?id=com.marvellous.mining&pli=1">
                                Learn More</a></button>
                    </div>

                </div>
            </div>

            <div class="col-md-12 col-lg-6 col-sm-12 p-5 progressbartxt">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="text-start">
                            Wealth Management
                        </h6>
                    </div>
                    <div class="col-md-6">
                        <h6 class="text-end">75%</h6>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar"
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div><br><br>
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="text-start   ">
                            Wealth Management
                        </h6>
                    </div>
                    <div class="col-md-6">
                        <h6 class="text-end">80%</h6>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar"
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="text-start   ">
                            Wealth Management
                        </h6>
                    </div>
                    <div class="col-md-6">
                        <h6 class="text-end">90%</h6>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar " role="progressbar"
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="about-case">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-sm-12 p-5">
              <img src="../../../../assets/images/myimages/ourfea.png" class="img-fluid">
            </div>

            <div class="col-md-12 col-lg-6 col-sm-12 p-5 progressbartxt">
                <div class="ban_text">
                    <div class="banner-ctn">
                        <h5>CLIENTS QUESTIONS</h5>
                        <h1 class="headeingtext">
                            Related Question
                        </h1>
                        <p class="abouttext">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. 
                        </p>
                    </div>

                  

                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            What are the admissions requirements?
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            How is the transfer process to take the test?
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            How do I have to submit the required docs?
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                              How do I have to submit the required docs?
                          </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                        </div>
                      </div>
                    
                  </div>
            </div>
        </div>

    </div>
</section>



<!-- touch with us sectionb -->
<section class="get">
    <div class="get-parent">
      <div class="features-parent22">
        <div class="container">
          <div class="faeture-heading1  ">
            <!--   <h5>GET IN TOUCH WITH US</h5> -->
            <h1 class="fontsize">Download our Marvellous Mining App<br> now and start your journey to a secure<br> and
              prosperous future.!</h1>
            <div class="download-btn1">
              <button class="getstart">Get Started</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
  <!-- touch with us section -->