.faeture-heading {
    text-align: center;
}
.saving-parent {
    text-align: center;
    padding-top: 70px;
}
section.features {
    background-color: black;
    color: white;
}
.features-parent {
    padding: 100px 0;
}
.faeture-heading h5 {
    color: #066D72;
}
.faeture-heading h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 17px 0;
}
.feature-icon {
    margin-bottom: 40px;
}
.feature-icon {
    height: 65px;
    width: 65px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: #066D72;
    border-radius: 3px;
    margin-bottom: 30px;
}
.saving-parent h5 {
    font-size: 27px;
    font-weight: bold;
}
p.content {
    padding-top: 16px;
    line-height: 26px;
}
.saving-parent1 {
    text-align: center;
}