h4.font-weight-normal{
    color: #148AE5;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.08em;
}
.card {
    position: relative;
    /* display: flex; */
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    border: 1px solid rgba(34, 41, 47, 0.125);
    border-radius: 0.428rem;
}
.card-statistics .statistics-body {
    padding: 0;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f8f8f8;
    background-clip: border-box;
    border: 1px solid rgba(34, 41, 47, 0.125);
    border-radius: 13px 13px 0px 0px;
}
.card {
    border: none;
    margin-bottom: 2rem;
    box-shadow: none;
    transition: all 0.3s ease-in-out, background 0s, color 0s, border-color 0s;
    border: 1px solid #E5E6EA;
}
p.card-text{
    font-size: 18px;
    padding-top: 30px;
}


.content-body {
    padding-top: 34px;
}
.card-body.statistics-body1 {
    background-color: white;
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
    border: none;
}
.btn-parent {
    display: flex;
    justify-content: space-between;
    
}
.btn-btn {
    /* border-color: #7367f0 !important; */
    background-color: #148AE5;
    color: #fff !important;
}