<div class="content-wrapper container-xxl ">
  <div class="content-body">
    <!-- content-header component -->
    <!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->

    <!-- Basic Alerts start -->
    <section id="home-page">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- <div class="card card-statistics"> -->
            <div class="card-body statistics-body">
              <div class="row">
                <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
                  <div class="media">
                    <div class="media-body my-auto">
                      <h4 class="font-weight-normal  mb-0">Total Sales</h4>
                      <p class="card-text  mb-0">0</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
                  <div class="media">
                    <div class="media-body my-auto">
                      <h4 class="font-weight-normal  mb-0">Total Order Count</h4>
                      <p class="card-text mb-0">0</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-3 mb-2 mb-sm-0">
                  <div class="media">
                    <div class="media-body my-auto">
                      <h4 class="font-weight-normal  mb-0">Total Discount</h4>
                      <p class="card-text mb-0">0</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                  <div class="media">
                    <div class="media-body my-auto">
                      <h4 class="font-weight-normal  mb-0">Total Net Profit</h4>
                      <p class="card-text mb-0">0</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- </div> -->

          </div>
        </div>
      </div>
    </section>

    <!-- sdkfnbdb -->
    <section id="home-page">
      <div class="row">
        <div class="col-12">
          <div class="outlet-card">
            <!-- <div class="card card-statistics"> -->
            <div class="outlet-card-body statistics-body1">
              <div class="row">
                <div class="col-sm-6 col-xl-4 mb-2 mb-xl-0">
                  <div class="card card-congratulation-medal">
                    <div class="outlet-card-body">
                      <h5>Congratulations 🎉 John!</h5>
                      <p class="card-text font-small-3">You have won gold medal</p>
                      <h3 class="mb-75 mt-4">
                        <a href="javascript:void(0);">$48.9k</a>
                      </h3>
                     <div class="btn-parent">
                      <button type="button" class="btn btn" rippleEffect>Vijay Nagar</button>
                      <button type="button" class="btn btn" rippleEffect>Open</button>
                     </div>
                    </div>
                  </div>
                </div>           
                <!-- second card -->
                <div class="col-sm-6 col-xl-4 mb-2 mb-xl-0">
                  <div class="card card-congratulation-medal">
                    <div class="card-body">
                      <h5>Congratulations 🎉 John!</h5>
                      <p class="card-text font-small-3">You have won gold medal</p>
                      <h3 class="mb-75 mt-4">
                        <a href="javascript:void(0);">$48.9k</a>
                      </h3>
                     <div class="btn-parent">
                      <button type="button" class="btn btn" rippleEffect>View Sales</button>
                      <button type="button" class="btn btn" rippleEffect>View Sales</button>
                     </div>
                    </div>
                  </div>
                </div>
                <!-- third card -->
                <div class="col-sm-6 col-xl-4 mb-2 mb-xl-0">
                  <div class="card card-congratulation-medal">
                    <div class="card-body">
                      <h5>Congratulations 🎉 John!</h5>
                      <p class="card-text font-small-3">You have won gold medal</p>
                      <h3 class="mb-75 mt-4">
                        <a href="javascript:void(0);">$48.9k</a>
                      </h3>
                     <div class="btn-parent">
                      <button type="button" class="btn btn" rippleEffect>Vijay Nagar</button>
                      <button type="button" class="btn btn" rippleEffect>Open</button>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- </div> -->

          </div>
        </div>
      </div>
    </section>
    <!-- Basic Alerts end -->
  </div>
</div>