<!-- <div class="content-wrapper container-xxl ">
  <div class="content-body">
    <section id="home-page">
      <div class="row">
        rkgfruiyg
      </div>
    </section>
  </div>
</div> -->

<section class="banner">
  <div class="container">
efk;cnoejvnion
  </div>
</section>

<!-- banner- section below -->
<section class="features">
  <div class="features-parent">
    <div class="container">
      <div class="saving-parent1">
        <div class="row">
          <div class="col-md-12 col-lg-4 col-sm-12 col-lg-4 col-sm-12">
            <div class="feature-icon">
              <!-- <i data-feather="dollar-sign" [size]="33" class=" cursor-pointer"></i> -->
              <img src="../../../assets/images/icons/Vector.svg" alt="">
            </div>
            <h5>Saving Strategies</h5>
            <p class="content">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
          </div>
          <div class="col-md-12 col-lg-4 col-sm-12">
            <div class="feature-icon">
              <img src="../../../assets/images/icons/Vector (1).svg" alt="">
            </div>
            <h5>Competitive Price</h5>
            <p class="content">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
          </div>
          <div class="col-md-12 col-lg-4 col-sm-12">
            <div class="feature-icon">
              <img src="../../../assets/images/icons/streamline_customer-support-1-solid.svg" alt="">
            </div>
            <h5>24/7 Support</h5>
            <p class="content">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  
<!-- banner-secvtion below -->
asjhddgauyqdfyu
<!--  whats our other feature -->
<section class="features">
<div class="features-parent">
  <div class="container">
    <div class="faeture-heading">
      <h5>OUR FEATURES</h5>
      <h1>What’s Our Features</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus <br> nec ullamcorper mattis, pulvinar dapibus leo.</p>
    </div>
    <div class="saving-parent">
      <div class="row">
        <div class="col-md-12 col-lg-4 col-sm-12 col-lg-4 col-sm-12">
          <div class="feature-icon">
            <!-- <i data-feather="dollar-sign" [size]="33" class=" cursor-pointer"></i> -->
            <img src="../../../assets/images/icons/Vector (2).svg" alt="">
          </div>
          <h5>Monthly Payout</h5>
          <p class="content">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-12 col-lg-4 col-sm-12">
          <div class="feature-icon">
            <img src="../../../assets/images/icons/Vector (3).svg" alt="">
          </div>
          <h5>Guaranteed Returns</h5>
          <p class="content">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-12 col-lg-4 col-sm-12">
          <div class="feature-icon">
            <img src="../../../assets/images/icons/Vector (6).svg" alt="">
          </div>
          <h5>Completely Transparent Process</h5>
          <p class="content">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>



<section>
  JKSDFCbahjdvcfy

</section>