<section class="trusted">
  <div class="container">
    <div class="row">
      <div class=" fake-parent col-sm-12 col-md-6 col-lg-6">
        <div class="fakeimg child">
          <div class="ban_text">
            <div class="banner-ctn1">
              <!-- <h5>WHY CHOOSE US</h5> -->
              <h1>
                
                THE EASIEST <br> WAY TO MANAGE <br> YOUR FINANCES
              </h1>
              <p class="trusted-ctn">Our purpose is to provide growth and financial freedom to our <br> people regardless of their age, salary and background.
              </p>
            </div>
            <div class="download-btn11 d-flex">
              <button><a href="https://play.google.com/store/apps/details?id=com.marvellous.mining&pli=1">Get Started
                </a></button>
                <button class="video-btn"><a href="https://play.google.com/store/apps/details?id=com.marvellous.mining&pli=1"><span>Watch Video</span>
                </a></button>
            </div>

          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="fakeimg1">
          <img class="img-fluid" src="../../../assets/images/myimages/Group 48.svg">
        </div>
      </div>

    </div>
  </div>

</section>
<!-- banner- section below -->
<section class="features">
  <div class="features-parent">
    <div class="container">
      <div class="saving-parent1">
        <div class="row">
          <div class="col-md-12 col-lg-4 col-sm-12 col-lg-4 col-sm-12">
            <div class="feature-icon">
              <!-- <i data-feather="dollar-sign" [size]="33" class=" cursor-pointer"></i> -->
              <img src="../../../assets/images/icons/Vector.svg" alt="">
            </div>
            <h5>Saving Strategies</h5>
            <p class="content">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
          </div>
          <div class="col-md-12 col-lg-4 col-sm-12">
            <div class="feature-icon">
              <img src="../../../assets/images/icons/Vector (1).svg" alt="">
            </div>
            <h5>Competitive Price</h5>
            <p class="content">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
          </div>
          <div class="col-md-12 col-lg-4 col-sm-12">
            <div class="feature-icon">
              <img src="../../../assets/images/icons/streamline_customer-support-1-solid.svg" alt="">
            </div>
            <h5>24/7 Support</h5>
            <p class="content">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- banner-section below -->

<!-- who we are -->
<section class="aim">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="fakeimg1"><img class="img-fluid" src="../../../assets/images/myimages/Rectangle 3.svg">
          <!-- <div class="bottom-left">
            <div class="card savings1">
              <div class="saving-parent11">
                <div class="saving-img">
                  <img src="../../../assets/images/myimages/Group 47.svg" alt="">
                </div>
                <div class="card-header savings">
                  <h4>Savings</h4>
                  <p>10% Compared With Last Month</p>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">
                  $1050.44
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class=" fake-parent col-sm-12 col-md-6 col-lg-6">
        <div class="fakeimg child">
          <div class="ban_text">
            <div class="banner-ctn">
              <h5>WHO WE ARE</h5>
              <h1>
                We Aim To Be The <br> Best Invest Manager <br> In The World
              </h1>
              <p>We are Marvellous Investments, we are an emerging investment <br> management service. We provide our
                clients
                with the best <br> investment experience while managing their hard earned <br> money with utmost
                responsibility.
              </p>
              <p>We are always in the pursuit of making our clients earn great <br> returns on their investments and
                paving
                their way towards a <br> secure and stable future. We believe in mutual growth and we <br> want to
                provide people
                with a reliable passive earning source <br> that helps them focus on their goals.</p>
            </div>
            <div class="form-parent">
              <h1 class="experience">5+ <span>YEARS EXPERIENCE</span></h1>
            </div>
            <div class="download-btn1">
              <button><a href="https://play.google.com/store/apps/details?id=com.marvellous.mining&pli=1">More About us
                </a></button>
            </div>

          </div>
        </div>
        <hr class="d-sm-none">
      </div>
    </div>
  </div>

</section>
<!-- who we are -->





<!-- earning -->
<section class="earning">
  <div class="container">
    <div class="earning-heading">
      <h1>Your Earning options</h1>
      <p>We have simple investment plans to deliver you the best investment experience.</p>
    </div>
      <div class="row justify-content-between">
        <div class="col-md-12 col-lg-4 col-sm-12">
          <div class="card border">
            <div class="card-body p-5">
              <img src="../../../assets/images/myimages/Group 16 (3).svg" alt="">
              <h6 class="card-subtitle  text-body-secondary">BASIC PLAN</h6>
              <p class="card-text1">₹ 1,000-49,999</p>
              <p>Assured Monthly 3.08%</p>
              <p>Assured Monthly 3.08%</p>
             <div class="btn-p">
               <a href="#" class="card-link">Buy Now</a>
             </div>
            </div>
          </div>
        </div>
        <div class="col-md-12  col-lg-4 col-sm-12">
          <div class="card border">
            <div class="card-body p-5">
              <img src="../../../assets/images/myimages/Group 16 (4).svg" alt="">
              <h6 class="card-subtitle  text-body-secondary">MASTER PLAN</h6>
              <p class="card-text1">₹ 50,000 - 2,49,000</p>
              <p>Assured Monthly 3.5%</p>
              <p>Assured Annual 42%</p>
             <div class="btn-p">
               <a href="#" class="card-link">Buy Now</a>
             </div>
            </div>
          </div>
        </div>
        <div class="col-md-12  col-lg-4 col-sm-12">
          <div class="card black">
            <div class="card-body p-5">
              <img src="../../../assets/images/myimages/Group 16 (5).svg" alt="">
              <h6 class="card-subtitle  text-body-secondary">ADVANCE PLAN</h6>
              <p class="card-text11">₹ 2,50,000 - 10,00,000</p>
              <p>Assured Monthly 3.75%</p>
              <p>Assured Annual 45%</p>
             <div class="btn-p">
               <a href="#" class="card-link1">Buy Now</a>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- earning sectiopn -->





<!-- trusted -->
<section class="trusted">
  <div class="container">
    <div class="row">
      <div class=" fake-parent col-sm-12 col-md-6 col-lg-6">
        <div class="fakeimg child">
          <div class="ban_text">
            <div class="banner-ctn">
              <h5>WHY CHOOSE US</h5>
              <h1>
                Trusted Over <br> +1200 Clients
              </h1>
              <p class="trusted-ctn">We are Marvellous Investments, we are an emerging investment <br> management
                service. We provide our
                clients
                with the best <br> investment experience while managing their hard earned <br> money with utmost
                responsibility.
              </p>
            </div>
            <div class="load">
              <ul>
                <li><img src="../../../assets/images/myimages/Group 22 (1).svg" alt=""><span>Loaded with Professional and
                    Honest Worker</span></li>
                <li><img src="../../../assets/images/myimages/Group 22 (1).svg" alt=""><span>Provide the Finest Construction
                    Supplies</span></li>
                <li><img src="../../../assets/images/myimages/Group 22 (1).svg" alt=""><span>100% Satisfaction Construction
                    Service</span></li>
                <li><img src="../../../assets/images/myimages/Group 22 (1).svg" alt=""><span>We are bonded and
                    insured</span></li>
              </ul>
            </div>
            <div class="download-btn1">
              <button><a href="https://play.google.com/store/apps/details?id=com.marvellous.mining&pli=1">Learn More
                </a></button>
            </div>

          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="fakeimg1">
          <img class="img-fluid" src="../../../assets/images/myimages/Group 33 (1).svg">
        </div>
      </div>

    </div>
  </div>

</section>
<!-- trusted -->






<!--  whats our other feature -->
<section class="features">
  <div class="features-parent">
    <div class="container">
      <div class="faeture-heading">
        <h5>OUR FEATURES</h5>
        <h1>What’s Our Features</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus <br> nec ullamcorper mattis,
          pulvinar dapibus leo.</p>
      </div>
      <div class="saving-parent">
        <div class="row">
          <div class="col-md-12 col-lg-4 col-sm-12 col-lg-4 col-sm-12">
            <div class="feature-icon">
              <!-- <i data-feather="dollar-sign" [size]="33" class=" cursor-pointer"></i> -->
              <img src="../../../assets/images/icons/Vector (2).svg" alt="">
            </div>
            <h5>Monthly Payout</h5>
            <p class="content">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
          </div>
          <div class="col-md-12 col-lg-4 col-sm-12">
            <div class="feature-icon">
              <img src="../../../assets/images/icons/Vector (3).svg" alt="">
            </div>
            <h5>Guaranteed Returns</h5>
            <p class="content">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
          </div>
          <div class="col-md-12 col-lg-4 col-sm-12">
            <div class="feature-icon">
              <img src="../../../assets/images/icons/Vector (6).svg" alt="">
            </div>
            <h5>Completely Transparent Process</h5>
            <p class="content">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  whats our other feature -->



<!-- Case Study -->
<section class="case">
  <div class="container">
    <div class="dowload-parent">
      <div class="row">
        <div class="col-md-6">
          <h5>Download</h5>
          <h1>Marvellous Mining App</h1>
        </div>
        <div class="col-md-6">
          <div class="download-btn">
            <button><a href="https://play.google.com/store/apps/details?id=com.marvellous.mining&pli=1">Download The
                App</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="images-parent">
      <div class="row ">
        <div class="col-md-3 p-0">
          <img class="img-fluid" src="../../../assets/images/myimages/Rectangle 11.svg" alt="">
        </div>
        <div class="col-md-3 p-0">
          <img class="img-fluid" src="../../../assets/images/myimages/Rectangle 13.svg" alt="">
        </div>
        <div class="col-md-3 p-0">
          <img class="img-fluid" src="../../../assets/images/myimages/Rectangle 14.svg" alt="">
        </div>
        <div class="col-md-3 p-0">
          <img class="img-fluid" src="../../../assets/images/myimages/Rectangle 11.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Case Study -->


<!-- client section -->
<section class="client">
  <div class="container">
    <div class="faeture-heading">
      <h5>TESTIMONIAL</h5>
      <h1>Our Client Reviews</h1>
    </div>
    <div class="row">
      <div class="col-md-5 p-0">
        <div class="img-section">
          <img class="img-fluid" src="../../../assets/images/myimages/Rectangle 16.svg" alt="">
        </div>
      </div>
      <div class="col-md-7 p-0">
        <div class="client-ctn">
          <h1> This Company Very <br> Favorably Impressed With <br> The Quality Of The Work <br> Performed By Your <br>
            Employees</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Etiam et fringilla diam, et aliquet libero.
            Cras pulvinar <br> elementum enim, at faucibus est accumsan et.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- client section -->






<!-- FREE SECTION -->
<section class="mybanner">
  <div class="container">
    <div class="row">
      <div class=" fake-parent col-sm-12 col-md-6 col-lg-6">
        <div class="fakeimg child">
          <div class="ban_text">
            <div class="banner-ctn">
              <h5>GET IN TOUCH</h5>
              <h1>
                Free Case Evaluation
              </h1>
              <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                <br> mattis pulvinar.
              </p>
            </div>
            <div class="form-parent">
              <form>
                <div class="form-group">
                  <input type="email" class="form-control" formControlName="name" id="exampleInputEmail11"
                    aria-describedby="emailHelp" placeholder="Full Name" />
                  <div>
                    <!-- <div> Full Name is required</div> -->
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" formControlName="pNumber" id="exampleInputEmail11"
                    aria-describedby="emailHelp" placeholder="Full Address" />
                  <div class="invalid-feedback">
                    <div> Phone Number is required</div>
                    <div>
                      <!-- Mobile Number requied only 10 characters. -->
                    </div>
                    <div>
                      <!-- Mobile Number requied only 10 characters. -->
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" formControlName="citys" id="exampleInputEmail11"
                    aria-describedby="emailHelp" placeholder="Phone Number">
                  <div class="invalid-feedback">
                    <!-- <div> City is required</div> -->
                  </div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" formControlName="message" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Your Message"> </textarea>
                </div>
                <button type="submit" class="form1">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="fakeimg1"><img class="img-fluid" src="../../../assets/images/myimages/Rectangle 17.svg">
          <div class="bottom-center">
            <div class="card savings">
              <div class="saving-parent11">
                <div class="saving-img">
                  <img src="../../../assets/images/myimages/Vector (7).svg" alt="">
                </div>
                <div class="card-header savings">
                  <h4>Savings</h4>
                  <p>10% Compared With Last Month</p>
                </div>
              </div>

              <div class="card-body">
                <!-- <h4 class="card-title">Special title treatment</h4> -->
                <p class="card-text">
                  $1050.44
                </p>
                <!-- <a href="javascript:void(0)" rippleEffect class="btn btn-outline-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- touch with us sectionb -->
<section class="get">
  <div class="get-parent">
    <div class="features-parent">
      <div class="container">
        <div class="faeture-heading1  ">
          <h5>GET IN TOUCH WITH US</h5>
          <h1>Don't Hesitate to Invest <br> Now, We Will Give You <br> The Best!</h1>
          <div class="download-btn1">
            <button>Get Started</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- touch with us section -->