<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12">
        <div class="f-menu">
          <h1 class="heading1">About Us</h1>
          <p class="fabout-ctn">Sed ut perspiciatis unde <br> omni natus error <br> sit voluptatem accusantium <br>
            doloremque laudantium.</p>
        </div>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-12">
        <div class="f-menu">
          <h1 class="heading1">Quick Links</h1>
          <ul class="footer-nav">
            <li><a  [routerLink]="['/about']" >About Us</a></li>
            <li><a [routerLink]="['/Ourfeature']">Our Feature</a></li>
            <li><a href="#faq">Case Studies</a></li>
            <li><a href="#form">Pricing</a></li>
            <li><a [routerLink]="['/ContactUs']">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-12">
        <div class="f-menu">
          <h1 class="heading1">Useful Links</h1>
          <ul class="footer-nav">
            <li><a href="#about">Privacy Policy</a></li>
            <li><a href="#pricing">Terms & Conditions</a></li>
            <li><a href="#faq">Disclaimer</a></li>
            <li><a href="#form">Support</a></li>
            <li><a href="#form">FAQ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-lg-5 col-sm-12 ">
        <div class="f-menu">
          <h1 class="heading1">Subscribe Our Newsletter</h1>
          <div class="form-box">
            <div class="input-main">



              <input type="email" name="email" placeholder="Your Email">
            </div>
            <button class="submit" type="submit">Go</button>
            
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      
    </div>
  </div>
</section>