<section class="footer-section">
  <!-- <div class="container">
      <div class="red-rectangle">Research Mart is a SEBI registered Research Analyst company</div>
    </div> -->
  <div class="group-30">
    <div class="overlap-13">
      <div class="footer-menu">
        <div class="f-menu">
          <h1 class="heading1">USEFUL LINK</h1>
          <p>Sed ut perspiciatis unde <br> omni natus error <br> sit voluptatem accusantium doloremque laudantium.</p>
        </div>
        <div class="f-menu">
          <h1 class="heading1">USEFUL LINK</h1>
          <ul>
            <li><a href="#about">About Us</a></li>
            <li><a href="#pricing">pricing</a></li>
            <li><a href="#faq">faq</a></li>
            <li><a href="#form">contact us</a></li>
          </ul>
        </div>
        <div class="f-menu">
          <h1 class="heading1">SUPPORT</h1>
          <ul>
            <ul>
              <li>
                <a [routerLink]="['/Investorsupport']" routerLinkActive="active"
                  >Investor Support</a
                >
              </li>
              <li>
                <a
                  [routerLink]="['/Grievancehandling']"
                  routerLinkActive="active"
                  >Grievance Handling</a
                >
              </li>
              <li>
                <a
                  [routerLink]="['/Standarddisclosuer']"
                  routerLinkActive="active"
                  >Standard Disclosures</a
                >
              </li>
              <li>
                <a
                  [routerLink]="['/Regulatorydisclosures']"
                  routerLinkActive="active"
                  >Regulatory Disclosures</a
                >
              </li>
              <li>
                <a
                  [routerLink]="['/Corporategovernance']"
                  routerLinkActive="active"
                  >Corporate Governance</a
                >
              </li>
              <li>
                <a [routerLink]="['/Complaintdata']" routerLinkActive="active"
                  >Complaint Data</a
                >
              </li>
              <li>
                <a [routerLink]="['/Investorcharter']" routerLinkActive="active"
                  >Investor Charter</a
                >
              </li>
              <li>
                <a [routerLink]="['/Disclaimer']" routerLinkActive="active"
                  >Disclaimer</a
                >
              </li>
            </ul>
          </ul>
        </div>
        <div class="f-menu">
          <h1 class="heading1">CONTACT US</h1>
          <div class="footer3-column">
            <div class="footer3-ctn d-flex">
              <a href=""
                ><img src="../assets/img/fluent-location-24-filled.svg" alt=""
              /></a>
              <div class="group-36">
                <div class="text-wrapper-23">Address</div>
                <p class="element-bhoomi-gardenia">
                  1003 Bhoomi Gardenia 2 Plot No.10 <br />,sector 20 Navi Mumbai
                  Pincode:-410218 Maharashtra.
                </p>
              </div>
            </div>
            <div class="footer3-ctn d-flex">
              <a href=""><img src="../assets/img/ion-call.svg" alt="" /></a>
              <div class="group-36">
                <div class="text-wrapper-23">Mobile</div>
                <p class="element-bhoomi-gardenia">+91 9289276444</p>
              </div>
            </div>
            <div class="footer3-ctn d-flex">
              <a href=""
                ><img src="../assets/img/tabler-mail-filled.svg" alt=""
              /></a>
              <div class="group-36">
                <div class="text-wrapper-23">Mail Us</div>
                <p class="element-bhoomi-gardenia">inforesearchmart.in</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
