<section class="about-banner">
    <div class="container">
        <div class="row">
            <div class="">
                <div class="fakeimg child">
                    <img src="../../../../assets/images/myimages/Rectangle 22.png" class="img-fluid">
                    <div class="centeredtxt">ABOUT US</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-features">
    <div class="features-parent22">
        <div class="container">
            <div class="faeture-heading">
                <h5>OUR FEATURES</h5>
                <h1 class="headeingtext">We Are Finance & <br>investment Manager</h1>

            </div>
            <div class="abou-saving-parent">
                <div class="row">
                    <div class="col-md-12 col-lg-6 col-sm-12">
                        <p class="abouttext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum
                            nisi finibus
                            velit fringilla suscipit. Maecenas congue nibh quis efficitur dapibus. Maecenas eu placerat
                            odio, ac egestas mauris. Donec maximus lacinia justo, sed placerat eros lobortis a. Maecenas
                            eleifend nulla tellus, eget laoreet tellus aliquet ut. Mauris semper tempor mi, quis
                            elementum neque finibus iaculis. Quisque eget quam nisl, id pretium lacus hendrerit sed. 
                        </p>

                    </div>
                    <div class="col-md-12 col-lg-6 col-sm-12">
                        <p class="abouttext">Suspendisse non tempor ex, id egestas dui. In nec dignissim lectus. Nam
                            commodo malesuada
                            tellus eget gravida. Sed ullamcorper eros eu nisl iaculis dictum. Duis quis laoreet justo,
                            vel facilisis massa. Curabitur id ultrices tellus. Nulla tempor, purus a maximus efficitur,
                            dolor ex auctor arcu, eget semper lectus libero at diam. Aenean tempus justo leo, quis
                            placerat turpis elementum faucibus. Vivamus ullamcorper lacinia libero.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-banner">
    <div class="container">
        <div class="row">
            <div class="">
                <div class="fakeimg child">
                    <img src="../../../../assets/images/myimages/animationabout.gif" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-case">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-sm-12">
                <div class="about-perent">
                    <div class="about-img">
                        <img src="../../../../assets/images/myimages/Vector.png" alt="">
                    </div>
                    <div class="about-ctn">
                        <h5>Received Case</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit at faucibus est.</p>
                    </div>
                </div>
                <hr>
                <div class="about-perent">
                    <div class="about-img">
                        <img src="../../../../assets/images/myimages/Vector (1).png" alt="">
                    </div>
                    <div class="about-ctn">
                        <h5>Report Analysis</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit at faucibus est.</p>
                    </div>
                </div>
                <hr>
                <div class="about-perent">
                    <div class="about-img">
                        <img src="../../../../assets/images/myimages/Group 57.png" alt="">
                    </div>
                    <div class="about-ctn">
                        <h5>Collect Evidence</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit at faucibus est.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-sm-12">
                <div class="fakeimg child">
                    <div class="ban_text">
                        <div class="banner-ctn">
                            <h5>HOW WE WORK</h5>
                            <h1 class="headeingtext">
                                Leading The Best <br>Invest manager Team
                            </h1>
                            <p class="abouttext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et
                                fringilla diam, et aliquet libero. Cras pulvinar elementum enim, at faucibus est.
                            </p>
                            <!--   <p>We are always in the pursuit of making our clients earn great <br> returns on their investments and
                          paving
                          their way towards a <br> secure and stable future. We believe in mutual growth and we <br> want to
                          provide people
                          with a reliable passive earning source <br> that helps them focus on their goals.</p> -->
                        </div>
                        <div class="form-parent">
                            <h1 class="client"> + <span>WE HAVE MORE THAN 300+<br> AROUND THE WORLD </span></h1>
                        </div>

                        <div class="download-btn1">
                            <button><a href="https://play.google.com/store/apps/details?id=com.marvellous.mining&pli=1">
                                    Learn More
                                </a></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="features">
    <div class="features-parent">
        <div class="container">
            <div class="about-saving-parent1">
                <div class="row">
                    <div class="col-md-12 col-lg-6 col-sm-12 column">
                        <div class="">
                            <!-- <i data-feather="dollar-sign" [size]="33" class=" cursor-pointer"></i> -->
                            <p>ACHIEVEMENT</p>
                        </div>
                        <h5 class="about-textsaving">Over 1300+ <br> Complete work & <br> Still counting</h5>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisci elit,<br> sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.  </p>
                    </div>
                    <div class="col-md-12 col-lg-6 col-sm-12 column">
                        <div class="row">
                            <div class="col-md-6 abt-txt">
                                <h5>5K+</h5>
                                <p>Satisfied Customers</p>
                                <br><br><br>
                                <h5>250</h5>
                                <p>Professional Worker</p>

                            </div>
                            <div class="col-md-6 abt-txt">
                                <h5>100K</h5>
                                <p>Satisfied Customers</p>
                                <br><br><br>
                                <h5>10K</h5>
                                <p>Years of experience</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-features">
    <div class="features-parent">
        <div class="container">
            <div class="faeture-heading">
                <h5>OUR EXPERT</h5>
                <h1 class="headeingtext">Our Professional Team</h1>

            </div>
            <div class="team-saving-parent">
                <div class="row p-0 m-0">
                    <div class="col-md-3  col-sm-12 p-0">
                        <img src="../../../../assets/images/myimages/Rectangle 24.png" alt="">
                        <div class="about-team">
                            <h5>Emily Elfie</h5>
                            <p>
                                Chairman and CEO
                            </p>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-12 p-0">
                        <img src="../../../../assets/images/myimages/Rectangle 25.png" alt="">
                        <div class="about-team">
                            <h5>Emily Elfie</h5>
                            <p>
                                Chairman and CEO
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3  col-sm-12 p-0">
                        <img src="../../../../assets/images/myimages/Rectangle 26.png" alt="">
                        <div class="about-team">
                            <h5>Emily Elfie</h5>
                            <p>
                                Chairman and CEO
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3  col-sm-12 p-0">
                        <img src="../../../../assets/images/myimages/Rectangle 27.png" alt="">
                        <div class="about-team">
                            <h5>Emily Elfie</h5>
                            <p>
                                Chairman and CEO
                            </p>
                        </div>
                    </div>
                </div>
                <div class="download-btn1">
                    <button><a href="https://play.google.com/store/apps/details?id=com.marvellous.mining&pli=1">
                        View All Team
                        </a></button>
                </div>
            </div>
        </div>
    </div>
</section>