<section class="about-banner">
    <div class="container">
        <div class="row">
            <div class="">
                <div class="fakeimg child">
                    <img src="../../../../assets/images/myimages/Rectangle 22.png" class="img-fluid">
                    <div class="centeredtxt">BLOG</div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- blogs -->
<section class="about-features">
    <div class="features-parent22">
        <div class="container">
            <div class="faeture-heading">
                <h5>BLOG</h5>
                <h1 class="headeingtext">See Our Project We Have Done</h1>

            </div>
            <div class="abou-saving-parent">
                <div class="row">
                    <!-- <div class="col-md-1">

                    </div> -->
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="blog-image"><img class="img-fluid" src="../../../../assets/images/myimages/Rectangle 34.png   ">
                          <div class="bottom-blog">
                            <div class="card blog">
                              <div class="card-body blog">
                                <h4>Wealth Management</h4>
                                <p class="">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo
                                </p>
                                <div class="blog-btn">
                                    <a class="blog-button">View Details</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="blog-image"><img class="img-fluid" src="../../../../assets/images/myimages/Rectangle 35.png   ">
                            <div class="bottom-blog">
                                <div class="card blog">
                                  <div class="card-body blog">
                                    <h4>Wealth Management</h4>
                                    <p class="">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo
                                    </p>
                                    <div class="blog-btn">
                                        <a class="blog-button">View Details</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>
                    <!-- <div class="col-md-1">

                    </div> -->
                </div>
                <div class="row blogg">
                    <!-- <div class="col-md-1">

                    </div> -->
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="blog-image"><img class="img-fluid" src="../../../../assets/images/myimages/Rectangle 34.png   ">
                          <div class="bottom-blog">
                            <div class="card blog">
                              <div class="card-body blog">
                                <h4>Wealth Management</h4>
                                <p class="">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo
                                </p>
                                <div class="blog-btn">
                                    <a class="blog-button">View Details</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="blog-image"><img class="img-fluid" src="../../../../assets/images/myimages/Rectangle 35.png   ">
                            <div class="bottom-blog">
                                <div class="card blog">
                                  <div class="card-body blog">
                                    <h4>Wealth Management</h4>
                                    <p class="">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo
                                    </p>
                                    <div class="blog-btn">
                                        <a class="blog-button">View Details</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>
                    <!-- <div class="col-md-1">

                    </div> -->
                </div>
                <div class="row blogg">
                    <!-- <div class="col-md-1">

                    </div> -->
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="blog-image"><img class="img-fluid" src="../../../../assets/images/myimages/Rectangle 34.png   ">
                          <div class="bottom-blog">
                            <div class="card blog">
                              <div class="card-body blog">
                                <h4>Wealth Management</h4>
                                <p class="">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo
                                </p>
                                <div class="blog-btn">
                                    <a class="blog-button">View Details</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="blog-image"><img class="img-fluid" src="../../../../assets/images/myimages/Rectangle 35.png   ">
                            <div class="bottom-blog">
                                <div class="card blog">
                                  <div class="card-body blog">
                                    <h4>Wealth Management</h4>
                                    <p class="">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo
                                    </p>
                                    <div class="blog-btn">
                                        <a class="blog-button">View Details</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>
                    <!-- <div class="col-md-1">

                    </div> -->
                </div>
                <div class="row blogg">
                    <!-- <div class="col-md-1">

                    </div> -->
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="blog-image"><img class="img-fluid" src="../../../../assets/images/myimages/Rectangle 34.png   ">
                          <div class="bottom-blog">
                            <div class="card blog">
                              <div class="card-body blog">
                                <h4>Wealth Management</h4>
                                <p class="">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo
                                </p>
                                <div class="blog-btn">
                                    <a class="blog-button">View Details</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="blog-image"><img class="img-fluid" src="../../../../assets/images/myimages/Rectangle 35.png   ">
                            <div class="bottom-blog">
                                <div class="card blog">
                                  <div class="card-body blog">
                                    <h4>Wealth Management</h4>
                                    <p class="">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo
                                    </p>
                                    <div class="blog-btn">
                                        <a class="blog-button">View Details</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>
                    <!-- <div class="col-md-1">

                    </div> -->
                </div>
              
                <div class="row blogg">
                    <!-- <div class="col-md-1">

                    </div> -->
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="blog-image"><img class="img-fluid" src="../../../../assets/images/myimages/Rectangle 34.png   ">
                          <div class="bottom-blog">
                            <div class="card blog">
                              <div class="card-body blog">
                                <h4>Wealth Management</h4>
                                <p class="">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo
                                </p>
                                <div class="blog-btn">
                                    <a class="blog-button">View Details</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="blog-image"><img class="img-fluid" src="../../../../assets/images/myimages/Rectangle 35.png   ">
                            <div class="bottom-blog">
                                <div class="card blog">
                                  <div class="card-body blog">
                                    <h4>Wealth Management</h4>
                                    <p class="">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo
                                    </p>
                                    <div class="blog-btn">
                                        <a class="blog-button">View Details</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>
                    <!-- <div class="col-md-1">

                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

