<section class="about-banner">
    <div class="container">
        <div class="row">
            <div class="">
                <div class="fakeimg child">
                    <img src="../../../../assets/images/myimages/Rectangle 22.png" class="img-fluid">
                    <div class="centeredtxt">Contact Us</div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="world">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="fakeimg1"><img class="img-fluid" src="../../../../assets/images/myimages/Rectangle 32.png">

                </div>
            </div>
            <div class=" fake-parent col-sm-12 col-md-6 col-lg-6">
                <div class="fakeimg child">
                    <div class="ban_text">
                        <div class="banner-ctn11">
                            <h1 class="headeingtext">
                                We are based onbr
                                Worldwide
                            </h1>
                            <p class="abouttext">Sigh view am high neat half to what. Sent late held than set why wife
                                our. If an blessing building steepest. Sent late held than set why wife our. If
                                an blessing building steepest. Agreement distrusts mrs six affection satisfied. Day
                                blushes visitor end company old prevent chapter. Consider declared out expenses her
                                concerns. 
                            </p>
                            <!-- <p>We are always in the pursuit of making our clients earn great <br> returns on their investments and
                paving
                their way towards a <br> secure and stable future. We believe in mutual growth and we <br> want to
                provide people
                with a reliable passive earning source <br> that helps them focus on their goals.</p> -->
                        </div>


                        <div class="download-btn1">
                            <button><a
                                    href="https://play.google.com/store/apps/details?id=com.marvellous.mining&pli=1">call
                                    us now
                                </a></button>
                        </div>

                    </div>
                </div>
                <hr class="d-sm-none">
            </div>
        </div>
    </div>
</section>



<section class="Address">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3">
                <img src="../../../../assets/images/myimages/Group 118.svg" class="img-fluid" alt="">
                <h6 class="card-subtitle contantus">Our Address</h6>
                <p class="add-ctn">2750 Quadra Street Victoria Road, New York, Canada</p>
            </div>
            <div class="col-md-3"> <img src="../../../../assets/images/myimages/Group 119.svg" class="img-fluid" alt="">
                <h6 class="card-subtitle contantus">Email</h6>
                <p class="add-ctn">hello@tokomoo.com</p>
            </div>
            <div class="col-md-3"> <img src="../../../../assets/images/myimages/Group 120.svg" class="img-fluid" alt="">
                <h6 class="card-subtitle contantus">Contact</h6>
                <p class="add-ctn">+1234 5678 910</p>
            </div>
            <div class="col-md-3"> <img src="../../../../assets/images/myimages/Group 121.svg" class="img-fluid" alt="">
                <h6 class="card-subtitle contantus">Operation Hours</h6>
                <p class="add-ctn">Monday - Friday: 09:00 - 17:00</p>
            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="features-world">
        <div class="container">
            <div class="row">
              <div class=" fake-parent col-sm-12 col-md-6 col-lg-6" >
                <div class="ban_text">
                  <div class="banner-ctn">
                    <h5>GET IN TOUCH</h5>
                    <h1 class="headeingtext">
                      For any Queries or Concerns
                    </h1>
                    <p>Feel Free to Fill This Form
                    </p>
                  </div>
                  <div class="form-parent">
                    <form>
                      <div class="form-group">
                        <input type="email" class="form-control" formControlName="name" id="exampleInputEmail11"
                          aria-describedby="emailHelp" placeholder="Full Name" />
                        <div>
                          <!-- <div> Full Name is required</div> -->
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control" formControlName="name" id="exampleInputEmail11"
                          aria-describedby="emailHelp" placeholder="Email" />
                        <div>
                          <!-- <div> Full Name is required</div> -->
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control" formControlName="citys" id="exampleInputEmail11"
                          aria-describedby="emailHelp" placeholder="Phone Number">
                        <div class="invalid-feedback">
                          <!-- <div> City is required</div> -->
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control" formControlName="pNumber" id="exampleInputEmail11"
                          aria-describedby="emailHelp" placeholder="City" />
                        <div class="invalid-feedback">
                          <div> Phone Number is required</div>
                          <div>
                            <!-- Mobile Number requied only 10 characters. -->
                          </div>
                          <div>
                            <!-- Mobile Number requied only 10 characters. -->
                          </div>
                        </div>
                      </div>
      
                      <div class="form-group">
                        <textarea name="user-message" id="user-message" class="form-control" cols="1" rows="3"
                          placeholder="Enter your Message"></textarea>
                        <!--end col 10-->
                        <!--   <textarea _ngcontent-xwh-c184="" formcontrolname="message" id="exampleFormControlTextarea1" rows="3"
                          placeholder="Select Message" class="form-control ng-pristine ng-invalid ng-touched"
                          ng-reflect-name="message" ng-reflect-ng-class="[object Object]"> </textarea> -->
                        <!-- <textarea class="form-control" formControlName="message" id="exampleFormControlTextarea1" rows="3"
                          placeholder="Message"> </textarea> -->
                      </div>
                      <button type="submit" class="form1">Submit</button>
                    </form>
                  </div>
                </div>
                <hr class="d-sm-none">
              </div>
      
      
              
              <div class="col-sm-12 col-md-6 col-lg-6" >
                <div class="fakeimg1"><img class="img-fluid" src="../../../../assets/images/myimages/contact.png">
                  <div class="bottom-center">
                    <div class="card savings">
                      <div class="saving-parent11 contact">
                        <div class="saving-img">
                          <img src="../../../assets/images/myimages/Vector (7).svg" alt="">
                        </div>
                        <div class="card-header savings">
                          <h4>Savings</h4>
                          <p>10% Compared With Last Month</p>
                        </div>
                      </div>
        
                      <div class="card-body">
                        <!-- <h4 class="card-title">Special title treatment</h4> -->
                        <p class="card-text contact">
                          ₹75,000
                        </p>
                        <!-- <a href="javascript:void(0)" rippleEffect class="btn btn-outline-primary">Go somewhere</a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  
  </section>

  <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
    <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
      style="border:0" allowfullscreen></iframe>
  </div>

<!-- touch with us sectionb -->
<section class="get">
    <div class="get-parent contact">
      <div class="features-parent22">
        <div class="container">
          <div class="faeture-heading1  ">
            <!--   <h5>GET IN TOUCH WITH US</h5> -->
            <h1 class="fontsize">Download our Marvellous Mining App<br> now and start your journey to a secure<br> and
              prosperous future.!</h1>
            <div class="download-btn1">
              <button class="getstart">Get Started</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- touch with us section -->